.v5-repayment-box {
  padding-top: 10px;
  padding-bottom: 16px;
  .repayment-list {
    li {
      width: 378px;
      height: 32px;
      line-height: 32px;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2px;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .repayment-num {
    margin-top: 32px;
  }
}