.setMarginCoin {
  .category-select-box {
    width: 100%;
    display: flex;
    border-radius: 2px;
    margin-bottom: 15px;
    position: relative
    .tab {
      flex: 1;
      height: 38px;
      line-height: 38px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      position: relative
    }
    .tab-active-bg {
      position: absolute;
      width: 50%;
      height: 100%;
      transition: all 0.5s;
      left: 50%;
      border-radius: 2px;
    }
  }
  .form-info {
    margin-bottom: 20px;
    .info-block {
      padding 20px;
      margin-top 20px;
    }
    .info-item {
      line-height: 18px;
      display: flex;
      box-sizing: border-box;
      font-size: 12px;
      .radio {
        line-height: 50px;
        text-align: center;
        span {
          margin-right: 36px;
          cursor: pointer;
        }
      }
      p {
        flex: 1;
        padding: 6px 0;
        box-sizing: border-box;
      }
      .text1 {
        max-width: 120px;
      }
      .text2 {
        text-align: right;
        border-left-width: 0;
        border-left-style: solid;
        padding-right: 10px;
      }
    }
  }
  .inp-marginCoin {
    margin-right: 5px;
  }
  .select-price{
    .form-control {
      height: 40px;
      line-height: 40px;
    }
  }
  .percentage {
    display: flex
    text-align: center;
    margin: 10px -5px 0 -5px;
    border-radius: 2px;
    span {
      flex: 1;
      height: 28px;
      line-height: 28px;
      border-width: 0;
      border-style: solid;
      cursor: pointer;
      font-size: 12px;
      user-select: none;
      margin: 0 5px;
      border-radius: 2px;
      border-width: 1px;
      border-style: solid;
    }
  }
}
.setMargin-dialog .dialog-frame {
  //width: 580px !important;
  }
.setMargin-dialog .dialog-frame-body {
  //width: 500px !important;
}
