.login-box{
    font-family: HarmonyOS-Medium ;
      .title{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 32px;  
      }
    .login_head{
        display: flex;
        justify-content: space-between;
        padding: 24px 32px 32px 32px;
        border-radius: 2px 0px 0 0;
        .title{
            font-size: 20px;
        }

    }
    .login_content{
        padding:0 32px; 
        min-height: 820px;
    }
    .pagination{
        margin-bottom: 40px;
    }
}