.assets-mgt-box{
    font-family: HarmonyOS-Medium;
    .bottom-bg{
      margin: 0 32px;
    }
    .title{
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 32px;
    }
    .nav-box{
      padding: 0 32px;
      border-radius: 2px 0 0 0;
    }
    button{
        font-family: HarmonyOS-Medium ;
    }
    .assets-nav {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        position: relative;
        border-radius: 8px 8px 0 0;
        .assets-nav-search {
            position: absolute;
            right: 0px;
            top: 0px;
            display: flex;
            padding-top: 22px;
            .status-select{
                margin-left: 20px;
            }
        }
    }
    .assets-data{
        padding: 40px 0px 60px 0px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        // border-bottom-style: solid;
        // border-bottom-width: 10px;
        box-sizing: border-box;
        border-radius: 0 0 8px 8px;
        // margin-bottom: 10px;
        .account-box{
            display: flex;
            justify-content: flex-start;
            .mom-assets{
                margin-right: 60px;
            }
            >div{
                .title-row{
                    margin-bottom: 16px;
                    display: flex;
                    align-items: center;
                    .hide-assets{
                        margin-left: 8px;
                        cursor: pointer;
                        display: flex;
                        width: 24px;
                        height: 24px;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                    }
                }
                .balance-row{
                    font-size: 24px;
                    // line-height: 45px;
                    margin-bottom: 12px;
                    font-weight: 500;
                    font-family: HarmonyOS-Medium;
                }
            }
        }
        .option-assets{
            //line-height: 75px;
            display:flex;
            align-items:center;
            button {
                height: 32px !important;
                line-height: 32px !important;
                margin-left: 20px;
            }
        }
    }
    .table-data{
        padding-top: 17px;
        border-radius: 8px 8px 0 0;
        padding-bottom: 10px;
        .table-div{
            //height: 704px;
            .table-btn_item {
                display: inline-block;
                position: relative;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .sub-assets{
      .hide-assets{
        margin-left: 8px;
        cursor: pointer;
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
      }
    }
}
