.subAccount-table-selectList {
  max-height: 400px;
  overflow-y: auto;
  position: fixed;
  right: 32px;
  padding: 4px 0px;
  z-index: 2;
  border-radius: 4px;
  .table-select_item {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    padding: 0 12px;
    cursor: pointer;
    margin-bottom: 4px;
    word-break: keep-all;
    white-space: nowrap;
  }
}