.questionsList {
  .nobg {
    background: none!important;
  }
  .title {
    line-height: 55px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 20px;
    margin-bottom: 18px;
  }
  .content {
  }
  .wordBreak{
    word-break :break-word;
    padding:5px;
    padding-right :0;
  }
}
