.task-center {
  overflow-x: auto;
  padding-bottom :120px;
  .page-state-tab {
    margin-top: 40px;
    width: 1200px;
  }

  .detail-container {
    padding: 0 50px;
    .task{
      .attendance-window {
        margin-top: 40px;
      }

      .task-state-tab {
        margin-top: 64px;
        margin-bottom :32px;
      }
      .task-tip{
        width:1200px;
        font-size :14px;
        line-height :16px;
        padding:24px 36px;
        background :#F7F7F7;
        box-sizing :border-box;
        border-radius :8px;
        margin-bottom :20px;
      }
      .task-empty{
        width:1200px;
        display :flex;
        flex-direction :column;
        justify-content :cursor ;
        align-items :center;
        margin-top :120px;
        img{
          width:80px;
          height:80px;
          margin-bottom :12px;
        }
        div{
          font-size :12px;
          line-height :14px;
        }
      }
    }
    .reward{
      .withdraw-window{
        margin-top:40px;
      }
    }

  }

  .scroll-container {
    min-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn-blue {
  border-radius: 4px;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  display:flex;
  flex-direction :row;
  align-items :center;
  justify-content :center;
}

.btn-blue.common-button-solid-disabled {
  background: #D5D7DA;
  color: #606266;
}

.attendance-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;

  .attendance-icon {
    width: 132px;
    height: 115px;
  }

  .attendance-title {
    color: #000000;
    font-size: 16px;
    margin-top: 24px;
  }

  .attendance-desc {
    color: #000000;
    font-size: 16px;
    margin-top: 24px;

    span {
      color: #2B61FF;
      font-size: 32px;
      margin-right :8px;
    }
  }

  .attendance-confirm {
    margin-top: 33px !important;
  }

  .attendance-view {
    margin-top: 24px;
    font-size: 14px;
    cursor :pointer;
  }
}
.footer-box{
  margin-top :0;
}
