
.kolMyOrder {
    width: 1200px;
    margin: 0 auto;
    .common-skeleton.skeleton-dark {
        background-image: linear-gradient(90deg, #F7F7F7 18.75%, #ECECEC 48.21%, #F7F7F7 73.44%) !important;
    }

    .kolMyOrder-return {
        display: flex;
        align-items: center;

        img {
            height: 16px;
            width: 16px;
            margin-right: 10px;
        }

        margin: 40px 0 60px;
        font-size: 16px;
        line-height: 22px;
        color: #888FA1;

        span {
            cursor: pointer;
        }
    }

    .kolMyOrder-info {
        margin-bottom: 20px;

        .kolMyOrder-info-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 32px;

            .kolMyOrder-info-title-left {
                font-size: 20px;
                line-height: 26px;
                color: #21262B;
            }

            .kolMyOrder-info-title-right {
                font-size: 14px;
                line-height: 18px;
                color: #888FA1;
            }
        }

        .kolMyOrder-info-box {
            background: #F2F4FB;
            border-radius: 8px;
            width: 100%;
            display: flex;
            padding: 24px 40px;
            box-sizing: border-box;
            box-sizing: border-box;
            justify-content: space-between;

            .kolMyOrder-info-item {
                color: #21262B;

                .kolMyOrder-info-item-title {
                    font-size: 12px;
                    line-height: 16px;
                    color: #888FA1;
                }

                .kolMyOrder-info-item-val {
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 4px;
                }
            }

            .kolMyOrder-info-item:last-child {
                text-align: right;
            }
        }
    }

    .kolMyOrder-table {
        text-align: center;
        font-size: 14px;
        color: #16181D;

        .common-table {
            font-size: 14px !important;
            background: none !important;
        }
        .tr {
            padding: 0 16px;
        }

        .fill-2-bg {
            background: none !important;
        }

        .fill-3-bg {
            background: none !important;
        }

        .text-1-cl {
            color: #16181D !important;
        }

        .text-2-cl {
            color: #888FA1 !important;
        }

        .fill-6-bd {
            border-color: #E8EBF3 !important;
        }
        .fill-4-bg {
            background: #e8ebf3 !important;
        }
        .fill-6-bg {
            background: #e8ebf3 !important;
        }

        .common-table .table-head {
            padding: 0 0 4px;
        }

        .common-table .table-body .tr-bg {
            padding: 0;
        }

        .common-table .table-body .tr-content {
            height: 60px;
            line-height: 60px;
        }

        .kolMyOrder-table-tab {
            border-bottom: 1px solid #E8EBF3;
            margin-bottom: 32px;
        }

        .kolMyOrder-table-list {
            .changeSymbol {
                display: flex;
                align-items: center;

                .changeSymbol-side {
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                    padding: 0 4px;
                    box-sizing: border-box;
                    margin-right: 8px;
                }

                .label-color-buy {
                    background: rgba(19, 184, 135, 0.15);
                }

                .label-color-sell {
                    background: rgba(235, 77, 92, 0.15);
                }

                .changeSymbol-symbol {
                    font-size: 16px;
                    line-height: 22px;
                    color: #21262B;
                    margin-right: 8px;
                }

                .changeSymbol-lever {
                    font-size: 14px;
                    line-height: 16px;
                    color: #21262B;
                }
            }

            .kolName {
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .kolName-wait {
                max-width: 220px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .operation-btn {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .common-button {
                 margin-left: 12px;
                }
            }
        }
    }

    .cancelFollow-operation {
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
    }

    .kolTraderMyOrder__type_model-subTitle {
        font-size: 14px;
        line-height: 20px;
        color: #16181D;
        margin-bottom: 12px;
    }

    .kolTraderMyOrder__type_model-content {
        font-size: 12px;
        line-height: 24px;
        color: #888FA1;
    }

    .orderDetail {
        .dialog-frame {
            width: 600px !important;

            .dialog-frame-body {
                //overflow: scroll;
            }
        }
             .dialog-frame-body-center {
            width: 600px !important;
            }

        .orderDetail-info {
            .orderDetail-info-title {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .changeSymbol-side {
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                    padding: 0 4px;
                    box-sizing: border-box;
                    margin-right: 8px;
                }

                .label-color-buy {
                    background: rgba(19, 184, 135, 0.15);
                }

                .label-color-sell {
                    background: rgba(235, 77, 92, 0.15);
                }

                .changeSymbol-symbol {
                    font-size: 16px;
                    line-height: 22px;
                    color: #21262B;
                    margin-right: 8px;
                }

                .changeSymbol-lever {
                    font-size: 14px;
                    line-height: 16px;
                    color: #21262B;
                }
            }

            .orderDetail-info-data {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                color: #16181D;
                margin-bottom: 20px;
                border-bottom: 1px solid #E8EBF3;

                .other-info-item {
                    width: 160px;
                    margin-right: 20px;
                    margin-bottom: 18px;

                    .other-info-item-title {
                        font-size: 12px;
                        line-height: 18px;
                        color: #888FA1;
                        margin-bottom: 8px;
                    }

                    .other-info-item-val {
                        font-size: 16px;
                        line-height: 22px;
                    }

                    .kolName {
                        max-width: 150px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .other-info-item:nth-child(3n-2) {
                    margin-right: 40px;
                }

                .other-info-item:nth-child(3n-1) {
                    width: 120px;
                }

                .other-info-item:nth-child(3n) {
                    margin-right: 0px;
                    text-align: right;
                }
            }
        }

        .orderDetail-table {
            margin-top: 28px;

            .orderDetail-table-title {
                font-size: 14px;
                line-height: 20px;
                color: #16181D;
                margin-bottom: 20px;
            }

            .orderDetail-table-list {
                .orderDetail-table-data {
                    .orderDetail-data-title {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;

                        .changeSymbol-side {
                            font-size: 12px;
                            height: 20px;
                            line-height: 20px;
                            padding: 0 4px;
                            box-sizing: border-box;
                            margin-right: 8px;
                            display: inline-block;
                        }

                        .label-color-buy {
                            background: rgba(19, 184, 135, 0.15);
                        }

                        .label-color-sell {
                            background: rgba(235, 77, 92, 0.15);
                        }
                    }

                    .show-transcation-details .icon {
                        transform: rotate(180deg);
                    }

                    .transcation-details {
                        background: #F2F4FB;
                        border-radius: 8px;
                        padding: 15px 15px 0 15px;
                        margin-bottom: 20px;

                        .transcation-item {
                            & + .transcation-item {
                                border-top: 1px solid #e8ebf3;
                                padding-top: 20px;
                            }
                        }
                        .transcation-info{
                            .other-info-item {
                                .other-info-item-val {
                                    font-weight: 700;
                                    color: #16181D;
                                }
                            }
                        }

                        .transcation-data-item {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            color: #16181D;

                            .other-info-item {
                                width: 150px;
                                margin-right: 20px;
                                margin-bottom: 18px;

                                .other-info-item-title {
                                    font-size: 12px;
                                    line-height: 17px;
                                    color: #888FA1;
                                    margin-bottom: 4px;
                                }

                                .other-info-item-val {
                                    font-size: 14px;
                                    line-height: 18px;
                                }

                                .kolName {
                                    max-width: 150px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                            }

                            .other-info-item:nth-child(3n-2) {
                                margin-right: 40px;
                            }

                            .other-info-item:nth-child(3n-1) {
                                width: 130px;
                            }

                            .other-info-item:nth-child(3n) {
                                width: 130px;
                                margin-right: 0px;
                                text-align: right;
                            }

                            .other-info-item:last-child {
                                width: 130px;
                            }
                        }
                    }

                    .orderDetail-data-item {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        color: #16181D;

                        // margin-bottom:20px;
                        // border-bottom:1px solid #E8EBF3;
                        .other-info-item {
                            width: 160px;
                            margin-right: 20px;
                            margin-bottom: 18px;

                            .other-info-item-title {
                                font-size: 12px;
                                line-height: 18px;
                                color: #888FA1;
                                margin-bottom: 8px;
                            }

                            .other-info-item-val {
                                font-size: 16px;
                                line-height: 22px;
                            }

                            .kolName {
                                max-width: 150px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }

                        .other-info-item:nth-child(3n-2) {
                            margin-right: 40px;
                        }

                        .other-info-item:nth-child(3n-1) {
                            width: 120px;
                        }

                        .other-info-item:nth-child(3n) {
                            margin-right: 0px;
                            text-align: right;
                        }

                        .other-info-item:last-child {
                            width: 160px;
                        }
                    }
                }
            }

            .orderDetail-table-nodata {
                min-height: 200px;
                text-align: center;

                img {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .__rail-is-horizontal {
        display: none;
    }

    .__rail-is-vertical {
        display: none;
    }
}
