.main{
    min-height: 800px;
    margin:5px auto;
    box-sizing: border-box;
    position: relative;
    display:flex;
  }
  .margin-left{
    width:240px;
    margin-right:5px;
  }
  .margin-left .title{
    font-size: 16px;
    margin:20px 0 20px 20px;
  }
  .margin-right{
    flex:1;
    min-height: 800px;
  }
  // 国际化
  .Int {
    .main {
      margin: 0;
      height: 100%;
      width: auto;
    }
    .otc-page-title  {
      height: 80px;
      line-height: 80px;
      margin-bottom: 5px;
      .page-title-bar {
        width: 940px;
        margin: 0 auto;
        font-size: 16px;
      }
    }
    .margin-right {
      height: calc(100% - 85px);
      width: auto;
    }
    .fiatdeal-center {
      height: 100%;
      width: 940px;
      margin: 0 auto;
    }
    .center-management-center .center-header {
      padding: 40px 0 0;
    }
    .center-management-center .center-main .center-main-select .select {
      margin: 30px 20px 0 0;
    }
    .fiatdeal-center .table-head {
      margin: 0;
    }
    .table-body-bar {
      padding: 0;
    }
    .center-management-header {
      padding-left: 0;
    }
  }
