.kolTrade-content {
  .common-button-solid-disabled {
      background: #E8EBF3 !important;
    }
}
.kolTrade {
  background: #fff;
  font-family: HarmonyOS-Medium;
  .dialog-frame {
    width: 600px !important;
  }
  .dialog-frame-body-center {
    width: 600px !important;
  }

  .kolTrade-banner {
    width: 100%;
    height: 400px;
    background-size:cover!important;

    .kolTrade-banner-text {
      width: 1200px;
      margin: 0 auto;
      color: #fff;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      .kolTrade-banner-text1 {
        font-size: 56px;
        line-height: 72px;
        height: 72px;
        margin: 100px auto 14px;
        color: #1DE6CA;
      }

      .kolTrade-banner-text2 {
        font-size: 20px;
        line-height: 26px;
        height: 26px;
        margin-bottom: 30px;
      }

      .kolTrade-banner-btn {
        border-radius: 4px;
        height: 44px;
        line-height: 44px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 0 55px;
        max-width: 200px;
        box-sizing: border-box;
        text-align: center;
      }
    }
  }

  .kolTrade-features {
    width: 1200px;
    margin: 120px auto 0px;
    padding-bottom: 180px;

    .kolTrade-features-title {
      font-size: 32px;
      line-height: 42px;
      color: #21262B;
      margin-bottom: 80px;
      margin-top: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
      font-family: HarmonyOS-Medium;

      .seeMore {
        font-size: 14px;
        line-height: 18px;
        cursor: pointer;
      }
    }

    .kolTrade-features-list {
      display: flex;
      justify-content: space-between;

      .kolTrade-features-item {
        .kolTrade-features-img {
          width: 72px;
          height: 72px;
          margin-bottom: 40px;
        }

        .kolTrade-features-note1 {
          width: 250px;
          font-size: 16px;
          line-height: 22px;
          color: #21262B;
          margin-bottom: 12px;
        }

        .kolTrade-features-note2 {
          width: 320px;
          font-size: 14px;
          line-height: 24px;
          color: #8895A2;
        }
      }
    }
  }

  .dialogTip {
    .fill-2-bg {
      background: #FFFFFF !important;
    }

    .fill-3-bg {
      background: #F2F4FB !important;
    }

    .text-1-cl {
      color: #16181D !important;
    }

    .fill-6-bg {
      background-color: #E8EBF3 !important;
    }

    .text-2-cl {
      color: #888FA1 !important;
    }
  }

  .read-text {
    font-size: 12px;
    line-height: 24px;
    color: #16181D;
  }
}