.v5-page-otcOrder {
  width: 100%;
  box-sizing border-box;
  .iconClass{
    margin-left:0 !important;
  }
  .line {
    padding: 10px 8px 0;
  }
  .common-select{
    margin-right:0  !important;
    .select-options-box{
      left:unset;
    }
  }
  .orderId {
    margin-left: -10px !important;
  }
  .otcOrder-nav {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;
    padding-left: 32px;
    .otcOrder-nav-switchs {
      position: absolute;
      right: 20px;
      top: 20px;
      display: flex;
      align-items: center;
      .switchWrap {
        display: inline-block;
        display: inline-block;
      }
      .text {
        font-size: 12px;
        margin-left: 10px;
        display: inline-block;
      }
    }
  }
  .otcOrder-options {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 14px;
    display:flex;
    .search-box{
      margin-right: 20px;
    }
    .select-options-box{
      top:45px !important;
    }
    .common-select {
      display: inline-block;
      margin-right: 30px;
    }
  }
  .otcOrder-table {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top:28px;

    .pagination-box {
      margin-bottom: 32px;
      position: relative;
      right: -10px;
    }

    .pagination {
      padding: 0 !important;
    }

    .table-head{
        border:none !important;
    }
  }
  .table-body td p.conterparty{
    display: inline-block;
    vertical-align: middle;
  }
  .table-body td .conterparty-btn{
    font-size: 12px;
    font-family: HarmonyOS-Medium;
  }
  .table-body td .icon-btn{
    margin-left: 0;
  }
  .table-head th > div{
    text-align: left;
    padding: 0 2px 8px;
  }
  .table-head th:last-child > div{
    text-align: right;
  }
  .table-body td > div{
    text-align: left;
    padding: 0 2px;
  }
  .table-body td:last-child > div{
    text-align: right;
  }
  .h5Box{
    min-height: 612px;
  }
  .detail_container{
    display :flex;
    flex-direction :column;
    gap:20px;
    min-width:400px;
    .detail_line{
      display :flex;
      flex-direction :row;
      align-items:center;
      justify-content :space-between;
    }
  }
  .cancel_cause {
    min-width: 80px;
    position:relative;
    cursor :pointer;

    .icon {
      vertical-align: middle;
    }

    .cancel_cause_text {
      display: none;
      position: absolute;
      width: 200px;
      padding: 10px;
      right: 50%;
      transform translate(50%,0);
      top: 24px;
      z-index: 10;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      line-height: 1.5;
      text-align: center;

      &.position-bottom {
        bottom: -10px;
        top: auto;
      }
    }

    .cancel_cause-btn {
      margin-left :4px;
      position: relative;

      &:hover {
        .cancel_cause_text {
          display: block;
        }
      }
    }
  }
  .table-link-btn {
    cursor pointer;
  }

}
