.main {
  width: 100%;
  min-height: 800px;
  margin: 0 auto;
  margin: 4px 0;
  box-sizing: border-box;
  display:flex;
}

.margin-left {
  width: 240px;
  margin-right:5px;
}

.margin-left .title {
  font-size: 16px;
  margin: 20px 0 20px 20px;
}

.margin-right {
  flex:1;
  min-height: 800px;
}

.Int {
  .personalPage {
    margin: 0;
    width: auto;
    height: 100%;
    padding-left: 195px;

    .page-title {
      height: 80px;
      line-height: 80px;
      margin-bottom: 5px;

      .page-title-bar {
        width: 940px;
        margin: 0 auto;
        font-size: 16px;
      }
    }

    .margin-right {
      width: auto;
      height: calc(100% - 85px);

      .margin-right-bar {
        width: 940px;
        margin: 0 auto;
      }

      .user-management .li-div {
        width: 876px;
      }

      .user-management .user-management-content {
        border: none;
      }

      .user-management-child-header {
        width: 100%;
        font-size: 14px;
        padding: 30px 0 18px 0;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      .center1 .center1-table {
        border: none;
      }
    }
  }
}
