.broker-customer {
  height: 170px;
  // border-bottom-width: 10px;
    // border-bottom-style: solid;
    border-radius: 8px;
    margin-bottom: 10px
  padding: 18px 26px;
  box-sizing: border-box;
  .broker-customer-header {
    line-height: 20px;
    font-size: 14px;
    padding-bottom: 18px;
  }
  .broker-customer-sum {
    float: left

    .broker-customer-sumV {
      line-height: 36px;
      font-size: 28px;
    }
    .broker-customer-sumK {
      margin-top: 8px;
      line-height: 17px;
      font-size: 12px;
    }
  }
  .broker-customer-mess {
    float: left;
    margin-left: 30px;
    .broker-customer-even {
      width: 176px;
      line-height: 31px;
      height: 31px;
      padding: 0 16px;
      box-sizing: border-box;
      font-size: 12px;
      margin-bottom: 4px;
      border-radius: 4px;

      .broker-customer-evenK {
        float: left;
      }
      .broker-customer-evenV {
        float: right;
      }
    }
  }
  .broker-customer-sort {
    float: left;
    margin-left: 30px;
    height: 74px;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 30px;
    .broker-customer-sortev {
      float: left
    }
    .broker-customer-sortevV {
      line-height: 45px;
      font-size: 22px;
    }
    .broker-customer-sortevK {
      margin-top: 2px;
      font-size: 12px;
    }
  }
  .msg_tip_icon{
    width:12px;
    height:12px;
    cursor pointer;
  }
  .tip_container{
    padding:12px 8px;
    min-width:140px;
    word-break :break-word;
    &>div{
      font-size:12px;
      line-height :20px;
      span{
        margin-left:4px;
      }
    }
    .tip_title{
      margin-bottom 4px;
    }
  }
}
