.download-container{
  // min-height 1178px;
  background-size: 2560px 794px;
  background-position :center top;
  background-repeat: no-repeat;
  margin-top -60px
  .download-options {
    padding-top: 180px;
    padding-bottom: 22px;
    border-bottom-width: 0;
    border-bottom-style: solid;
  }
  .download-options-logo {
    text-align: center;
    img {
      height: 90px;
      width: 90px;
    }
  }
  .download-options-name {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight :700;
  }
  .download-options-text {
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    margin-top: 20px;
  }
  .download-options-buttons {
    text-align: center;
    margin-top: 40px;
    .btn-line{
      margin-top:10px;
      display:flex;
      flex-direction :row;
      align-items :center;
      justify-content :center;
    }
  }
  .download-button {
    margin: 0 10px;
    width: 180px;
    background:#FFFFFF !important;
    .btn-content{
      height:30px;
      display:flex;
      flex-direction :row;
      align-items :center;
      justify-content :center;
      img{
        width:30px;
        height:30px;
        margin-right :8px;
      }
    }
  }
  .download-options-rq {
    text-align: center;
    margin-top: 46px;
    border-radius :8px;
    img {
      height: 160px;
      width: 160px;
      border-radius :8px;
    }
  }
  .download-options-reText {
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    margin-top: 20px;
  }
  .download-nav {
    padding: 134px 0;
    //border-bottom-width: 1px;
    //border-bottom-style: solid;
    .download-nav-list {
      width: 1034px;
      margin: 0 auto;
    }
    .download-nav-even {
      img{
        width:60px;
        height:60px;
      }
      float: left;
      width:50%;
      display:flex;
      align-items : center;
      justify-content :center;
    }
    .download-nav-even:nth-child(even){
      //margin-left: 190px;
    }
    .download-nav-even:nth-child(3){
      clear:left;
    }
    .download-nav-even:nth-child(4){
      clear:right;
    }
    .download-nav-even:nth-child(3),
    .download-nav-even:nth-child(4) {
      margin-top: 68px
    }
    .download-nav-img {
      float: left;
    }
    .download-nav-mode {
      float: left;
      margin-left: 36px;
    }
    .download-nav-title {
      font-size: 20px;
      max-width: 326px;
      word-wrap: break-word;
    }
    .download-nav-text {
      margin-top: 16px;
      font-size: 16px;
      max-width: 303px;
      word-wrap: break-word;
      line-height: 22px;
    }
  }
  .download-step {
    padding-top: 54px;
    padding-bottom: 80px;
    .download-step-t {
      line-height: 22px;
      font-size: 14px;
      margin-top: 8px;
    }
    .download-step-title {
      text-align: center;
      font-size: 24px;
      line-height: 32px;
    }
    .download-step-list {
      width: 1034px;
      margin: 0 auto;
      margin-top: 52px;
    }
    .download-step-even {
      height: 160px;
      margin-bottom: 42px;
    }
    .download-step-label {
      float: left;
      font-size: 36px;
      letter-spacing: 0;
      line-height: 48px;
      height: 160px;
      border-right-width: 1px;
      border-right-style: solid;
      padding-right: 12px;
    }
    .download-step-mode {
      float: left;
      margin-left: 26px;
      word-wrap break-word;
      max-width: 500px;
    }
    .download-step-h {
      font-size: 16px;
      line-height: 32px;
    }
    .download-step-img {
      width: 320px;
      height: 160px;
      float: right;
      text-align: center;
      img {
        height: 160px;
        max-width: 320px;
      }
    }
  }
}
