.withdraw-addAddress {
  .address-form_item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 28px;
    }
  }
  .addressLabel {
    display: inline-block;
    position: relative;
    .memo-tip {
      word-break: break-all
      box-shadow: 0 3px 4px 1px rgba(0,0,0,0.28);
      position absolute
      top 14px
      width 378px
      padding 20px
      left 0
      box-sizing border-box
      border-radius: 4px;
      font-size 12px
      letter-spacing 0
      line-height 20px
      z-index 4
    }
  }
  .trust-select {
    .setTrust {
      font-size: 14px;
      line-height: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
      i {
        cursor: pointer;
      }
      //.icon {
      //  height: 0.5em;
      //}
    }
    .trust-tip {
      font-size: 12px;
      line-height: 17px;
    }
  }
  .footer-button {
    margin-top: 28px;
  }
}
