.warp{
  display: flex;
  min-height: 800px;
  justify-content: center;
  align-items: center;
  
  img{
    width: 82px;
    height: 184px;
  }

  .font-404{
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    line-height: 180px;
    margin-top: -75px;
    margin-left: -19px;
  }
  .tips{
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;  
    width: 350px;
  }
  .link{
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
  }
}