.user-management-id-auth {
  width 100%

  .user-management-child-header {
    font-size 14px
    padding 18px 0 18px 20px
    border-bottom-width 1px
    border-bottom-style solid
    box-sizing border-box
  }

  .sumsubCenter{
    height:auto;
    min-height:543px;
    margin-top:20px;
  }
}
