.footer-box {
    min-height: 184px;
    padding:80px 0;
  }
  .no-margin {
    margin-top: 0;
  }
  .footer-bar {
    font-size: 12px;
    width: 1200px;
    min-height: 184px;
    margin: 0 auto;
    position: relative;
  }
  .footer-logo {
    width: 260px;
    float: left;
    margin-right:40px;
  }
  .footer-logo img{
    width: 146px;
  }
  .logo {
    max-height: 120px;
    max-width: 120px;
  }
  .footer-menu {
    margin: 0 auto;
    width: 1200px
  }
  .footer-template {
    width: 900px;
    overflow: hidden;
    display:flex;
  }
  .menu-ul-default {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu-ul-default li {
    float: left;
    width: 260px;
    line-height: 16px;
    margin-bottom:12px;
    margin-right:40px;
  }
  .menu-ul-default li .hoverShow {
    display: none;
  }
  .menu-ul-default li:hover .hoverShow {
    display: inline-block;
    cursor:pointer;
  }
  .menu-ul-default li:hover .hoverHide {
    display: none;
  }
  .menu-ul-default .tit {
    margin-bottom: 15px;
  }
  .footer-box .copy {
    font-size: 12px;
  }
  /*国际版*/
  .int-footer-bar {
    padding: 96px 110px 0 110px;
  }
  .int-footer-left {
    float: left;
  }
  .int-footer-left p {
    line-height: 26px;
  }
  .int-footer-logo {
    width: 260px;
    margin-bottom: 40px;
  }
  .int-footer-template {
    float: right;
  }
  .menu-ul-int {
    width: 600px;
  }
  .menu-ul-int li {
    float: left;
    width: 150px;
    padding-left: 40px;
    line-height: 26px;
  }
  .menu-ul-int li .hoverShow {
    display: none;
  }
  .menu-ul-int li:hover .hoverShow {
    display: inline-block;
  }
  .menu-ul-int li:hover .hoverHide {
    display: none;
  }
  .menu-ul-int .tit {
    margin-bottom: 15px;
  }
  .footer-box .copy {
    font-size: 12px;
    margin-top:32px;
    text-align:left;
    line-height:16px;
  }
  .footer-box .int-copy {
    text-align: left;
    font-size: 12px;
    margin-top: 80px;
    padding: 20px 110px 0 110px;
  }
