.verifyDialog{
    .verifyForm{
        >div{
            margin-top: 28px;   
            &:nth-child(1){
                margin-top: 0;    
                font-size: 12px;
            } 
        }
    }
    // .error-input{
    //     .content{
    //         border: 1px solid #EB4D5C;  
    //     }    
    // }
    // .pass-input{
    //     .content{
    //        border: none;  
    //     }  
    // }
}