.addSubForm{
    font-family: HarmonyOS-Medium ;
    .hide-password {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      text-align: center;
      line-height: 24px;
      cursor: pointer;
      margin-right: 12px;
      .icon {
        font-size: 16px;
      }
    }
    >div{
        padding-top: 32px;
        &:first-child{
            padding-top: 0;    
        }
    }
    .addForm-email{
        .email-exists {
            display: inline-block;
            height: 24px;
            border-radius: 4px;
            text-align: center;
            line-height: 24px;
            cursor: pointer;
            margin-right: 12px;
            .icon {
                font-size: 16px;
            }
            }    
    }
    .addForm-email, .addForm-addVirtualEmail{
        .warning-input-text{
            margin-top: 8px;    
            line-height: 18px;
            font-size: 12px;
        }
    }
    .show-pwdImg{
        cursor: pointer;
        margin-right: 5px;
        width: 16px;
    }
}