.editPwdDialog{
    .hide-password {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      text-align: center;
      line-height: 24px;
      cursor: pointer;
      margin-right: 12px;
      .icon {
        font-size: 16px;
      }
    }
   .error-input {
        .content {
            border: 1px solid #eb4d5c;
        }
    }
    .pass-input {
        .content {
            border: none;
        }
    }
    .editPwdForm{
        .editPwdForm-password, .editPwdForm-confirmPwd{
            padding-top: 32px;
        }
        .show-pwdImg{
            cursor: pointer;
            margin-right: 5px;
            width: 16px;
        }
    }
}
.editEmailDialog{
    //  .error-input {
    //     .content {
    //         border: 1px solid #eb4d5c;
    //     }
    // }
    // .pass-input {
    //     .content {
    //         border: none;
    //     }
    // }
    .editEmailForm{
        .editEmailForm-emailNew{
            padding-top: 32px;
        }
    }
}