.co-market-box {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);

  .market-tab {
    padding: 8px 18px 0px 16px;
    box-sizing: border-box;

    .category-select-box {
      display: flex;
      border-radius: 2px;
      margin-top: 2px;
      position: relative;
      left: -10px;

      .tab {
        flex: 1;
        height: 32px;
        line-height: 32px;
        text-align: center;
        cursor: pointer;
        user-select: none;
        font-size: 12px;
        max-width: 78px;

        .s {
          display: none;
        }

        &:hover {
          .h {
            display: none;
          }

          .s {
            display: block;
          }
        }

        &.main-1-bg {
          border-radius: 2px;
        }
      }

      .underline {
        position: absolute;
        bottom: 0;
        width: 36px;
        height: 2px;
        left: 21px;
        transition: all 0.3s;
      }
    }

    .search {
      width: 321px;

      .input-find-content {
        width: 100%;

        .iconbox {
          float: left;
        }

        input {
          width: 262px;
          line-height: 28px;
          height: 28px;
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
  }

  .co-market-symbol {
    font-size: 12px;
    //border-top-style: solid;
    //border-top-width: 1px;

    .thead {
      width: 100%;
      height: 30px;
      box-sizing: border-box;
      padding: 0 16px;
      display: flex;
      align-items: center;
      //border-bottom-style: solid;
      //border-bottom-width: 1px;
    }

    .tbody {
      height: 340px;
      box-sizing: border-box;

      .tr {
        box-sizing: border-box;
        padding: 0 16px;
        display: flex;
        height: 30px;
        align-items: center;
        position: relative;

        &:hover {
          .bg {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .thead, .tbody {
      span {
        flex: 1;
        position: relative;
        cursor: pointer;
        user-select: none;

        &.td-rose {
          text-align: right;
        }

        &.td-symbol {
          // min-width 114px;
          min-width: 150px;
        }
      }
    }
  }

  .sorte {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
  }
}

.not-data {
  text-align: center;
  padding-top: 80px;

  p {
    margin-top: 5px;
  }

  .icon {
    font-size: 36px;
  }
}
